div[aria-label="Block: Tab"] {
   width: 200px;
   display: flex;
   align-items: center;
   padding: 8px 16px;
   background-color: lightgrey;
}

input[aria-label="Block: Tab"] {
   width: 100%;
   border: 1px solid blue;
   padding: 4px 8px;
}

div[aria-label="Block: Tab"] h4 {
   font-weight: 400;
}
