.wp-block-aeawa-blocks-carousel-wrapper {
   .block-editor-inner-blocks {
      grid-column: 1/-1;

      .block-editor-block-list__layout {
         position: relative;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 400px 1fr;

         .wp-block-aeawa-blocks-carousel-controls {
            margin-top: 0;
         }

         .wp-block-aeawa-blocks-carousel-indicators {
            margin-top: 0;
         }

         .wp-block-query {
            margin-top: 0;
            grid-column: 1/-1;
            ul {
               li:first-of-type {
                  display: block;
                  height: 100%;
                  overflow: hidden;

                  div {
                     display: block;
                  }

                  figure {
                     margin-top: 32px;
                  }
               }
            }
         }
      }
   }
}
