ul.wp-block-post-template.is-layout-flow.wp-block-post-template-is-layout-flow {
   display: flex;
   gap: 1rem;
}

.wp-block-artedwa-blocks-event-card {
   width: 400px;
   height: 100%;
   border-radius: 16px;
   overflow: hidden;
   height: 100%;

   img {
      background-color: lightgray;
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: cover;
   }

   h4 {
      padding-bottom: 16px !important;
   }

   p:last-of-type {
      padding-bottom: 24px;
   }

   div {
      position: relative;
      background-color: white;
      padding: 24px;

      div {
         position: absolute;
         display: flex;
         gap: 4px;
         top: -64px;
         top: -44px;
         left: 0px;
         padding: 24px 24px 0px 24px;
         border-radius: 8px 8px 0px 0px;
         align-items: baseline;
      }
   }
}
