ul.wp-block-post-template.is-layout-flow.wp-block-post-template-is-layout-flow {
   display: flex;
   gap: 1rem;
}

div.wp-block-artedwa-blocks-acf-card {
   border: 1px solid grey;
   width: 250px;
}

div.wp-block-artedwa-blocks-acf-card img {
   width: 100%;
}
